.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://cdn.wonderfulengineering.com/wp-content/uploads/2014/06/ubuntu-wallpapers-9.jpg');
  height: 500px;
  
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides{
	background-color: #efefef;
	border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2{
	color: #393c3d;
	font-size: 24px;
}

.neighborhood-guides p{
	font-size: 15px;
	margin-bottom: 13px;
}